<h1><%= @restaurant.name %></h1>
<p><%= @restaurant.address %></p>
<p><%= @restaurant.category %></p>
<ul>
  <% @restaurant.reviews.each do |review| %>
  <li><%= review.rating %> - <%= review.content %></li>
  <% end %>
</ul>

<h1>New Review</h1>

<%= simple_form_for [@restaurant, @review] do |f| %>
  <%= f.error_notification %>
  <%= f.input :rating, as: :integer, input_html: { min: 0, max: 5 } %>
  <%= f.input :content %>
  <%= f.submit %>
<% end %>

<%= link_to 'back', restaurants_path, class: "btn btn-primary"  %>
